*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #f1f1f1;
  font-family: roboto, sans-serif;
}
nav {
  position: absolute;
  padding: 30px;
  width: 100%;
  display:flex;
  justify-content: center;
  z-index: 10;
}
img {
  width: 50px;
}
nav a {
  color: #F1F1F1;
  margin: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
}
nav a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #4e6681;
  display: block;
}
nav a:hover::after {
  background-color: #fff;
}
.home {
  height: 100vh;
  background-image: url(ressources/citynight.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 50px;
  position: relative;
}

.home h1 {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  padding-top: 200px;
  font-size: clamp(25px, 7vw, 110px);
  font-weight: 900;
  color: #F1F1F1
}
.subtitle {
  font-family: roboto, sans-serif;
  font-weight: 900;
  font-size: clamp(20px, 7vw, 60px);
  color: #F1F1F1;
  letter-spacing: -1px;
}
.stream-link {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  align-items: center;
  text-decoration: none;
  color: #333;
  max-width: 225px;
  background-color: #f1F1F1;
  padding: 10px 12px;
  margin-top: 15px;
  border-radius: 3px;
}
.stream-link:hover {
  box-shadow: 0px 5x 15px rgba(255,255,255);
}
.stream-link img {
  width: 30px;
  height: 30px;
}
.floating-btn {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid #f1f1f1;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 0 0 #fff;
  animation: pulse 1.3s infinite;
}
.floating-btn img {
  height: 30px;
  width: 30px;
}


@keyframes pulse {
  to {
    box-shadow: 0 0 0 16px rgba(255,255,255, 0.01);
  }
  
}

@media screen and (max-width: 650px) {
  .home {
    height: 60vh;
    padding: 0 25px;
  }
  .home h1 {
    padding-top: 100px;
  }
  .subtitle {
    margin-top: 5px;
  }
  nav a {
    font-size: 18px;
  }
  .stream-link {
    max-width: 145px;
    font-size: 14px;
    padding: 5px 10px;
  }
  .stream-link img {
    width: 25px;
  }
  .floating-btn {
    width: 45px;
    height: 45px;
  }
  .floating-btn img {
    width: 20px;
   
  }


}


@media screen and (max-width: 350px){
  .home {
    padding: 0 10px;
  }
}