*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, sans-serif;
}

.home {
    position: relative;
    
    height: 100vh;
}
video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
.home-content {
    position: relative;
    padding-top: 150px;
    text-align: center;
    color: #fff;
}
h1 {
    font-family: Playfair Display, serif;
    font-size: clamp(45px, 7vw, 130px);
    line-height: 1.1;
}
p {
    font-size: clamp(25px, 4vw, 40px);
    margin-top: 10px;
}
.middle-line {
     position: relative;
     width: 2px;
     height: 200px;
     margin: 40px auto;
     background-color: #fff;
}
.middle-line button {
    display: block;
    font-size: clamp(14px, 1.5vw, 18px);
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    margin: 50px auto 0;
    padding: 12px 20px;
    cursor: pointer;


}